<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Account verified - Caf&#233; Analog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body style="font-family: 'Open Sans', sans-serif;">

    <div class="container text-center">
        <h1>Verified with success!</h1>
        <img src="https://i.imgsafe.org/fe440da2a7.png" class="img-responsive" style="margin: 0 auto;">
        <h3>You can now login and use the app</h3>
    </div>

</body>
</html>