version: "3.8"

volumes:
  mssql:
  lgtm-stack:

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    hostname: mssql
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    restart: unless-stopped
    ports:
      - 1433:1433
    volumes:
      - mssql:/var/opt/mssql
  
  webapi:    
    container_name: coffeecard-api
    build:
      context: .
      dockerfile: CoffeeCard.WebApi/Dockerfile
    depends_on: [ mssql ]
    ports:
      - 8080:8080
      - 8081:8081
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/CoffeeCard.WebApi.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=crypticpassword
      - OtlpSettings__Endpoint=http://otel-lgtm:4317
      - OtlpSettings__Protocol=http
      - DatabaseSettings__ConnectionString=Server=mssql;Initial Catalog=master;User=sa;Password=Your_password123;TrustServerCertificate=True;
    volumes:
      - ./CoffeeCard.WebApi/appsettings.json:/app/appsettings.json:z
      - ~/.aspnet/https:/https:ro
  
  otel-lgtm:
    image: grafana/otel-lgtm:latest
    container_name: otel-lgtm
    hostname: otel-lgtm
    ports:
      - "3000:3000"  # Grafana UI
      - "4317:4317"  # OTLP gRPC
      - "4318:4318"  # OTLP HTTP
    volumes:
      - lgtm-stack:/data   # Persistent data storage
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin    # Grafana admin password
    tty: true
    stdin_open: true
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
