@page
@model CoffeeCard.WebApi.Pages.Result
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Result of request";
}

<div id="results">
    @if (TempData["result"] != null)
    {
        <h1>@TempData["resultHeader"]</h1>
        <p>@TempData["result"]</p>
    }
    else
    {
        <h1>Something went wrong</h1>
        <p>This is not the web page you are looking for</p>
    }
</div>