name: Build and test solution

env:
  DOTNET_VERSION: 8

on:
  workflow_call:
    inputs:
      push_image:
        description: "Push docker image to registry"
        required: false
        default: false
        type: boolean

  workflow_dispatch:

jobs:
  build_and_test:
    name: Build and test analog-core
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Restore dependencies
        run: dotnet restore coffeecard/
      - name: Build CoffeeCard solution
        run: dotnet build coffeecard/ --no-restore /p:ContinuousIntegrationBuild=true
      - name: Run tests
        run: dotnet test coffeecard/ --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: coffeecard/CoffeeCard.Tests.Integration/coverage.opencover.xml,coffeecard/CoffeeCard.Tests.Unit/coverage.opencover.xml

  docker:
    name: Build and push docker image
    needs: build_and_test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set branch name and github container registry tag as env variable
        id: vars
        run: |
          trimmed=$(echo ${GITHUB_REF#refs/*/} | tr "/" "-")
          echo ::set-output name=branchName::$trimmed
      - name: Print branch name
        run: |
          echo ${{ steps.vars.outputs.branchName }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push container image
        uses: docker/build-push-action@v2
        with:
          context: coffeecard/
          file: coffeecard/CoffeeCard.WebApi/Dockerfile
          platforms: linux/amd64
          push: ${{ inputs.push_image }}
          tags: |
            ghcr.io/analogio/coffeecard-api:${{ steps.vars.outputs.branchName }}
            ghcr.io/analogio/coffeecard-api:${{ github.sha }}
