name: Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    
  format-check:
    uses: ./.github/workflows/formatting.yml
